table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }

th.date {
    text-align: center
}