

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -35px;
    color: gray;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    width: 100%;
}


.centered button {
    outline: none;
    padding: 40px 80px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    margin: 0;
    background: rgb(231, 166, 0.4, 0.4); 
    color:rgba(255, 255, 255, 1.0);
    font-family: helvetica, arial, sans-serif;
    font-size: 40px;
}

.container .image {
    opacity: 0.5;
    filter: blur(3px)  contrast(0.6);
    height: auto;
    width: 2660px;
    margin-top: 3px;
}