.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -43px;
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    width: 100%;
}

.container .image {
    opacity: 0.5;
    filter: blur(3px);
    height: auto;
    width: 2660px;
}