---
---
<html>

  <!HEADING BELOW>

  <head>

    <title>GMHS Give Day</title>
    <link rel="icon" href="Web_Icon.png">
    <link rel = "stylesheet" type = "text/css" href = "index.css" />
    <link rel = "stylesheet" type = "text/css" href = "homepage.css" />
    <script src="index.js"></script>

  </head>

  <!BODY BELOW>
  <body>

    {% include dropdown.html %}


    <div class="mainimage">    
      <div class="image"><img src="Banner.jpg" alt="GiveDay" style="width:100%;"></div>
      <div class="centered"><button>GMHS Give Day</button></div>
    </div>

    {% include footer.html %}
    
  </body>
</html>
