<div class="dropdown"  onclick="window.location.href = 'index.html';">
    <button class = "dropbtn">Home</button>
</div>

<div class="dropdown"  onclick="window.location.href = 'http://rah.secure.force.com/events/homepage?id=7013Z000002pRfwQAE';" target="_blank">
    <button class = "dropbtn">Donate!</button>
</div>

<div class="dropdown">
    <button class="dropbtn">Schedule</button>
    <div class="dropdown-content">
        <a href="masterschedule.html">Master Schedule</a>
        <a href="memberschedule.html">Member Schedule</a>
        <a href="eventschedule.html">Event Schedule</a>
    </div>
    </div>
    <div class="dropdown"  onclick="window.location.href = 'rah.secure.force.com/events/homepage?id=7013Z000002pRfwQAE';">
        <button class = "dropbtn">Donate</button>
    </div>
    <div class="dropdown">
    <button class="dropbtn">External Websites</button>
      <div class="dropdown-content">
        <a href="https://www.riseagainsthunger.org/" target="_blank">Rise Agaisnt Hunger</a>
        <a href="https://gm.fccps.org/" target="_blank">GMHS Website</a>
    </div>
</div>
