<header>
    <img>
    <nav>
        <a href="/">Home</a>
        <a href="{{ site.baseurl }}/donate">Donate</a>
        <span class="">
            Schedule
            <ul class="nav-dropdown">

            </ul>
        </span>
        <span class="header-dropdown">
            External Websites
            <ul class="nav-dropdown">
                <li><a href="https://www.riseagainsthunger.org/" target="_blank">Rise Against Hunger</a></li>
                <li><a href="https://gm.fccps.org/" target="_blank">GMHS Website</a></li>
            </ul>
        </span>
    </nav>
</header>